.Menu {
  margin-bottom: 0.5rem;
  background: white !important;
  color: black;
  border-radius: 10px;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MenuText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Almarai";
  font-size: 1rem;
}
.MenuIcon {
  margin-left: 0.5rem;
  color: var(--color-primary);
}
.downIcon {
  color: lightgray;
}
