.nav {
  padding: 0 10%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.nav_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
}
.nav img {
  height: 7vh;
  object-fit: contain;
}
.nav_left_logo {
  font-size: 1.5rem;
}
.nav h3 {
  font-size: 1rem;
}
.nav_lang_Img {
  width: 25px;
  height: 25px;
  margin-left: 0.5rem;
}
.nav_lang_text {
  display: flex;
  align-items: center;
}
.nav_Respon {
  display: none;
  position: relative;
}

.nav_mob__icon {
  font-size: 2rem;
  margin: 0 0.5rem;
}
.nav_mob__menu {
  overflow: hidden;
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  transition: 850ms;
  background-color: white;
  width: 100vw;
  height: 30vh;
  color: black;
  padding: 0 2rem;
}
.active {
  height: 30vh;
}
@media only screen and (max-width: 1024px) {
  .nav_right {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .nav_Respon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1rem;
  }
  .nav_Respon img {
    width: auto;
    height: 5vh;
  }
  .nav {
    display: none;
  }
}
